<div class="card">
    
    <div class="img-thumbnail card-img-top" style="background-image: url({{thread.avatarSrc}}); background-position: center; background-repeat: no-repeat; background-size: 128px;"  >
    
    <div class="card-body">
        <p class="card-text">
            {{thread.name}}
            <span *ngIf="selected">&bull;</span>
        </p>
        <div>
            {{thread.messages[thread.messages.length - 1].text}}
        </div>
        <a (click)="clicked($event)" class="btn btn-primary">Select</a>
    </div>
</div>
